@font-face {
    font-family: Outfit;
    src: url('Outfit.ttf');
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    background-color: rgb(252, 236, 227);
}

#middle{
    scroll-snap-type: y mandatory;
}

section{
    min-height: 100%;
    width: 100%;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

#header{
    padding: 0;
    margin: 0;
    margin-top: 1%;
    height: 10%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    
    flex-shrink: 0;
}

/*header components*/
#logo{
    width: 3%;
    border-radius: 100%;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: rgb(252, 236, 227);
    filter: drop-shadow(rgb(76, 75, 75) 4px 7px);
}

#searchBar{
    height: 45%;
    width: 65%;
    border: 1px solid black;
    border-radius: 40px;
    background-color: rgb(252, 236, 227);
    filter: drop-shadow(rgb(76, 75, 75) 4px 7px);
}

.tab{
    height: 45%;
    width: 6%;
    border: 1px solid black;
    background-color: rgb(252, 236, 227);
    filter: drop-shadow(rgb(76, 75, 75) 4px 7px);
    font-family: Outfit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(45, 39, 35);
    font-size: clamp(8px, 2vh, 1.5em);
}

@media (orientation: portrait){
    #header{
        margin-left: 4%;
        margin: 4%;
    }
    #logo{
        width: 9%;
    }

    #searchBar{
        width: 44%;
    }

    .tab{
        width: 11%;
        font-size: clamp(12px, 1vh, 1.5em);
   }
}
#searchBar:hover, .tab:hover{
    background-color: rgb(234, 218, 209);
}

#searchBar, .tab{
    transition: 0.5s;
}


/*body of the website*/
#middle{
    height: 100%;
    width: 100%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 10%;
}

#middle{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}

#middle::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}
/*Image Slider*/
#imageDiv{
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    gap: 5%;
}

@media (orientation: portrait){
    #imageDiv{
        padding-top: 10%;
    }
}
 
#imageSection{
    display: flex;
    justify-content: center;
}

#imageSlider{
    width: 90%;
    height: 60%;
    border: 2px solid black;
    background-color: rgb(252, 236, 227);
    filter: drop-shadow(rgb(76, 75, 75) 4px 7px);
    overflow: hidden;
}

.sliderImg{
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.scroll{
    position: absolute;
    height: 10%;
    aspect-ratio: 1;
    top: 45%;
    z-index: 2;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

#left{
    left: 1%;
    background-image: url('left.png');
    background-size: contain;
}

#right{
    right: 1%;
    background-image: url('right.png');
    background-size: contain;
}

/*heroText*/
#heroDiv{
    min-width: 35%;
    min-height: auto;
    padding: 1%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(252, 236, 227);
    position: relative;
}

#heroText{
    font-weight: normal;
    padding: 0;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    text-align: center;
    font-size: clamp(26px, 6vw, 3em);
    font-family: Outfit;
    font-weight: bold;
}

#heroLine{
    position: absolute;
    height: 5px;
    bottom: 15%;
    left: 20%;
    animation-name: heroLine;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heroLine {
    0%{
        background-color: blue;
        left: 5%;
        width: 0%;
    }
    40%{
        background-image: linear-gradient(to right, blue, red);
        width: 10%;
        left: 80%;
    }
    70%{
        background-color: blueviolet;
        width: 5%;
        left: 10%;
    }
    100%{
        background-image: linear-gradient(to right, blue, red, gold);
        left: 10%;
        width: 80%;
    }
}



@media (orientation: portrait){
    #heroLine{
        height: 3px;
        bottom: -10%;
    }

    @keyframes heroLine {
        0%{
            background-color: blue;
            left: -5%;
            width: 0%;
        }
        40%{
            background-image: linear-gradient(to right, blue, red);
            width: 30%;
            left: 90%;
        }
        70%{
            background-color: blueviolet;
            width: 5%;
            left: -5%;
        }
        100%{
            background-image: linear-gradient(to right, blue, red, gold);
            left: -5%;
            width: 110%;
        }
    }

}

#heroCaption{
    padding: 0;
    margin: 0;
    font-family: Outfit;
    text-align: center;
    font-size: clamp(16px,4vw,1.5em);
}

/*section components*/

.section{
    width: 100%;
    min-height: 100%;
    display: flex;
    gap: 5%;
}

.card{
    width: 28%;
    height: 40vh;
    margin-left: 5%;
    background-color: gray;
}


/*section 1 in home page*/
#section1{
    margin-bottom : 10%;
}

.textDiv{
    width: 50%;
    height: 40vh;
}

.titleText{
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: clamp(13px,2.5vh,7em);
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(11px,2vh,2em);
}

@media (orientation: portrait){
    .section {
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 2%;
        height: 150%;
    }

    .card{
        width: 90%;
        height: 50%;
        background-color: gray;
        margin: 0;
    }

    .textDiv{
        text-align: justify;
        width: 90%;
        height: 40vh;
    }
}

.footer{
    height: 10%;
    width: 100%;
}

#genreSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120%;
    width: 90%;
}

.genreTitle{
    text-align:left;
    font-weight: bold;
    font-size: clamp(13px,2.9vh,7em);
    font-family: Outfit;
}

.genreHead{
    text-align:left;
    font-weight: bold;
    font-size: clamp(41px,4vh,3em);
    font-family: Outfit;
    margin-bottom: 5%;
    padding: 0;
}

@media (orientation: portrait){
    .genreHead{
        margin-bottom: 13%;
    }
}

#genreText{
    text-align:left;
    font-weight: bold;
    font-family: Outfit;
    font-size: clamp(18px,4vh,8em);
}

#genreBoxes{
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 10%;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-top: 2%;
    overflow-x: hidden;
    flex-wrap: wrap;
}

#genreBoxes{
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
}

#genreBoxes::-webkit-scrollbar { 
    display: none;  /* Older Safari and Chromium */
}
.genreTabs{
    background-color: rgb(252, 236, 227);
    border: 1px solid black;
    filter: drop-shadow(10px 10px gray);
    height: 50%;
    min-height: 100px;
    width: 15%;
    border-radius: 40px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

@media (orientation: portrait){
    .genreTabs{
        min-width: 80%;
    }
}

.genreText{
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(13px,2.2vh,7em);
}

#genreHeadText{
    text-align:left;
    font-family: Outfit;
    font-weight: bold;
    font-size: clamp(30px,4vh,8em);
}
#genreTitle{
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: Outfit;
    font-weight:600;
    text-align: center;
    font-size: clamp(14px,3vh,8em);
}

#genre1:hover{
    background-color: rgb(234, 218, 209);
}

#genre2:hover{
    background-color: rgb(234, 218, 209);
}

#genre3:hover{
    background-color: rgb(234, 218, 209);
}

#genre4:hover{
    background-color: rgb(234, 218, 209);
}


/*Genre Page*/ 
#genreTitle{
    text-align: center;
    font-size: clamp(13px,4vh,3em);
    font-family: Outfit;
}

.genreSection{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.genreTable{
    width: 40%;
}

@media (orientation: portrait) {
    .genreTable{
        width: 90%;
    }
}

.tableContent{
    text-wrap: wrap;
    text-align: center;
    width: 10%;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(11px,2vh,1.3em);
}

#headerRow{
    border-radius: 10px;
    font-size: clamp(12px,3vh,1.7em);
    padding-bottom: 4%;
}

@media (orientation: portrait){
    #headerRow{
        font-size: clamp(15px,3vw,1.7em);
    }
}

.tableRow{
    width: 50%;
    height: 10%;
    border: 1px solid black;
}

#songInfo{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
}

.title{
    text-align: center;
    font-size: clamp(13px,3vh,3em);
    font-family: Outfit;
    font-weight:600;
    padding: 1%;
    margin-bottom: 2%;
    border: 1px solid black;
    background-color: rgb(252, 236, 227);
    filter: drop-shadow(rgb(76, 75, 75) 4px 7px);
}

@media (orientation: portrait){
    .title{
        margin-bottom: 7%;
    }
}

#infoText{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

@media (orientation: portrait){
    #songInfo{
        width: 115%;
    }
}

#chords{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 7%;
}

#chordText{
    width: fit-content;
    border: 1px solid black;
    background-color: rgb(252, 236, 227);
    filter: drop-shadow(rgb(76, 75, 75) 4px 7px);
    text-align: center;
    padding: 5px;
}

#chordGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.chordTabs{
    width: 11vh;
    height: 17vh;
    border: 1px solid black;
    background-color: rgb(252, 236, 227);
    filter: drop-shadow(rgb(76, 75, 75) 4px 7px);
    margin-bottom: 5%;
}


#songLyrics{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: auto;
    min-width: 70%;
    max-width: 90%;
    border: 1px solid black;
    margin-bottom: 5%;
}

@media (orientation: portrait){

    #chords{
        width: 85%;
    }
    #chordGrid{
        gap: 3%;
    }
    .chordTabs{
        width: 14vw;
        height: 23vw;
    }
    #infoText{
        width: 100%;
    }
    #songLyrics{
        width: 80%;
    }
}

#songLyricsText{
    border: 1px solid black;
    background-color: rgb(252, 236, 227);
    filter: drop-shadow(rgb(76, 75, 75) 4px 7px);
    width: 100%;
    height: auto;
}

#songText{
    text-align: center;
    width: 80%;
    height: auto;
    margin-bottom: 1em;
}


.lyrics{
    margin-bottom: 40px;
    font-size: clamp(11px,2vh,1em);
    text-align: left;
    line-height: 3em;
}

@media (orientation: portrait){
    #songText{
        text-align: center;
        width: 90%;
        height: 11%;
    }
}

.chordText{
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
}

.Bbmaj7, .C, .Am, .Dm, .Bbm, .F, .A7, .Cm7, .Gm7, .C7, .D, .G, .B7, .Em7, .Bm7{
    text-align: left;
    position: absolute;
    top: -110%;
    left: 0%;
    font-family: Outfit;
    font-weight: bold;
    color:rgb(156, 87, 37);
    height: 70%;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    transition: 0.4s;
    width: auto;
    padding-bottom: 12px;
}

.Bbmaj7:hover, .C:hover, .Am:hover, .Dm:hover, .Bbm:hover, .F:hover, .A7:hover, .Cm7:hover, .Gm7:hover, .C7:hover, .D:hover, .G:hover, .B7:hover, .Em7:hover, .Bm7:hover{
    height: 300px;
    top: -1200%;
    padding: 0;
}

@media (orientation: portrait){
    .Bbmaj7:hover, .C:hover, .Am:hover, .Dm:hover, .Bbm:hover, .F:hover, .A7:hover, .Cm7:hover, .Gm7:hover, .C7:hover, .D:hover, .G:hover, .B7:hover, .Em7:hover, .Bm7:hover{
        height: 300px;
        top: -215px;
    }
}

.Bbmaj7box, .Cbox, .Ambox, .Dmbox, .Bbmbox, .Fbox, .A7box, .Cm7box, .Gm7box, .C7box, .Dbox, .Gbox, .B7box, .Em7box, .Bm7box{
    background-color: rgb(252, 236, 227);
    filter: drop-shadow(rgb(61, 57, 57) 2px 3px);
    border: 1px solid gray;
    width: 8vh;
    height: 13vh;
    z-index: 2;

    background-position: center;
    background-size: cover;
}


.Bbmaj7box{
    background-image: url("Bbmaj7.png");
} 
.Cbox{
    background-image: url("C.png");
} 
.Ambox{
    background-image: url("Am.png");
} 
.Dmbox{
    background-image: url("Dm.png");
} 
.Bbmbox{
    background-image: url("Bbm.png");
} 
.Fbox{
    background-image: url("F.png");
} 
.A7box{
    background-image: url("A7.png");
} 
.Cm7box{
    background-image: url("Cm7.png");
} 
.Gm7box{
    background-image: url("Gm7.png");
} 
.C7box{
    background-image: url("C7.png");
} 
.Dbox{
    background-image: url("D.png");
} 
.Gbox{
    background-image: url("G.png");
} 
.B7box{
    background-image: url("B7.png");
} 
.Em7box{
    background-image: url("Em7.png");
} 
.Bm7box{
    background-image: url("Bm7.png");
}


